<!-- Modal -->

{% extends 'base.html' %} {% block content %}

<div class="app-content">
  <div class="app-content-header">
    <h1 class="app-content-headerText">Tickets</h1>
    
  </div>
  <div class="app-content-actions">
    <div class="app-content-actions-wrapper">
      <div class="filter-button-wrapper">
        <!-- <button class="action-button filter jsFilter">
          <span>Filter</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-filter"
          >
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
          </svg>
        </button> -->
        <div class="filter-menu">
          <label>Category</label>
          <select>
            <option>All Categories</option>
            <option>Electrical</option>
            <option>Decoration</option>
            <option>Kitchen</option>
            <option>Bathroom</option>
          </select>
          <label>Status</label>
          <select>
            <option>All Status</option>
            <option>Active</option>
            <option>Disabled</option>
          </select>
          <div class="filter-menu-buttons">
            <button class="filter-button reset">Reset</button>
            <button class="filter-button apply">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="products-area-wrapper tableView">
    <div class="products-header">
      <div class="container my-3">
        <h4 class="text-white">Ticket-ID: {{ticket_data.ticket_no}}</h4>

        {% for dep in ticket_data.department.all %}
        <div class="product-cell status-cell">
          <span class="status active">{{ dep}}</span>
        </div>
        {% endfor %}
        <br />
        <ul
          class="list-group list-group-flush"
          style="background-color: #1d283c"
        >
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Room: {{ticket_data.room.room_no}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Room Type: {{ticket_data.room.room_type}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Floor: {{ticket_data.room.floor.name}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Block: {{ticket_data.room.floor.block.name}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Building: {{ticket_data.room.floor.block.building.name}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Message: {{ticket_data.message}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Status: {{ticket_data.status}}
          </li>
          <li
            class="list-group-item text-white"
            style="background-color: #1d283c"
          >
            Created By: {{ticket_data.created_by}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{%endblock%}